.category {
  display: flex;
}

.pillCont {
  margin: 10px 20px 0 0;
}

.categoryItems {
  text-align: center;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.sort {
  margin-right: 5px;
}

.pill {
  display: inline-block;
  margin: 0 20px 0 0;
}

.hdr::first-letter {
  text-transform: uppercase;
}

.select {
  margin-left: 10px;
}

.product {
  flex: 1;
  margin: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  min-width: 200px;
  width: 80%;
  position: relative;
  padding-bottom: 50px;
}

.product:hover {
  border-color: #b2b0b0;
}

.productMeta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.itemCont {
  text-decoration: none;
  color: #000;
}

.itemCont h2 {
  margin-bottom: 20px;
}

.itemCont .shortName {
  line-height: 20px;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  margin: 10px 0;
  text-align: left;
}

.close {
  font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
  .results {
    margin-bottom: 10px;
  }

  .hdr {
    margin-left: 0;
  }
}
